<html>
    <head>
        <title>Yeah</title>
        <script type="text/javascript">
            window.QUIZ_POLL_DATA = {
                questions: [
                    {
                        text: "Which of these is a color?",
                        answers: ["Red", "Notblue", "Car"],
                        correctAnswer: "Red"
                    },
                    {
                        text: "Which of these is not a color?",
                        answers: ["Red", "Blue", "Car"],
                        correctAnswer: "Car"
                    },
                ]
            }
            document.addEventListener('quiz-question-answered', function(ev) {
                var embed = document.getElementById('embed');
                console.log(ev);
                if(ev.detail === 0) {
                    embed.innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11181.602745400856!2d-122.67768075000002!3d45.52214179999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf55032ddfb98b313!2sThe+Art+Institute+of+Portland!5e0!3m2!1sen!2sus!4v1469831447073" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                } else if(ev.detail === 1) {
                    embed.innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86066.41741527733!2d-122.40594515506272!3d47.614942505790296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C+WA!5e0!3m2!1sen!2sus!4v1469831493056" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
                }
            })
        </script>
    </head>
    <body>
        <div id="app"></div>
        <div id="embed"></div>
    </body>
</html>
